.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  background-image: url('https://res.cloudinary.com/dahdfe5do/image/upload/v1769935451/mobile_hng2cm.png');
  background-size: cover;
  height: 90vh;
}

@media screen and (min-width: 768px) {
  .home-container {
    align-items: flex-start;
    padding-left: 120px;
    background-image: url('https://res.cloudinary.com/dahdfe5do/image/upload/v1769934751/banner_kgi98q.png');
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1100px;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
    width: 50%;
  }
}

.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin-bottom: 5px;
  color:#000000;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 62px;
    text-align: left;
    line-height: 1.2;
    color:#ffffff;
  }
}

.home-description {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 35px;
  color:#000000;
  margin-bottom: 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 20px;
    text-align: left;
    color:#ffffff;
    
  }
}

.menu-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #ff2400;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    width: 150px;
    font-size: 16px;
  }
}